#logoimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.navbar-custom{
  background-color: #2eff4d;
}
#logotext{
  font-size: 2rem;
  color: black;
}

nav{
  font-size: 1.15rem;
}
.nav-link{
 font-weight: bold;
 font-size: 1.4rem;
}
.carousel-inner {
  width: 100%;
  height: auto;
  margin:auto;  
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
	height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
}

#mainpage{
	text-align: center;
}

html {
  scroll-behavior: smooth;
}
#aboutus{
	padding-left: 1em;
	text-align: center;
}
#aboutusarticle{
	text-align: left;
	font-size: 1.5rem;

}
p{
	line-height: 2.5rem;
}
#contactus{
	text-align: center;
}
#trafficinfo{
	font-size: 1.5rem;
	text-align: left;
	padding-left: 1em;
}
.img_container{
  display:block;
  margin-left: auto;
  margin-right: auto;
    width: 20%;
    height: auto;
}
#docdiscription{
  text-align: left;
  padding-left: 2rem;
  font-size: 1.5rem;
}
section>h1{
  text-align: center;
}
.img_container img {
    width: 100%;
    height: auto;
    }
.split-para      { display:block;  
  margin:10px;
}
.split-para span { display:block;
  float:right;
  width:50%;
  margin-left:10px;
}

.table_schedule{
  font-size: 1.5rem;
}


.fa-facebook {
  padding: 0px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color:#4267B2;
}
h1, h2{
  text-align: center;
}
.presbyopia, .myopia, .cata, .glaucoma{
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 20px;
  
}

footer{
  text-align: center;
}
