
.navbar-custom{
  background-color: #2eff4d;
}
.nav-link{
 font-weight: bold;
}

.carousel-item {
  width:100%;
  margin:auto;
  height: auto;  
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 5%;
  padding-left: 5%;
}
.vertical{
  width:100%;
  height:auto;
  padding-left: 30%;
  padding-right: 30%;
}


#logoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

body{
  background-color: white;
  text-align: center;

}
p{
  font-family: times-new-roman;
  font-size: 1.5rem;
}
.split-para      { display:block;  
  margin:10px;
}
.split-para span { display:block;
  float:right;
  width:50%;
  margin-left:10px;
}
table{
  font-size: 2rem;
}
.googlemap{
  display: flex;
  justify-content: flex-start;
}
.treatment{
  text-align: left;
  margin-left: 1.5rem;
}

.servicepages{
  text-align: left;
  padding-left: 50px;


}

.img_container{
  display:block;
  margin-left: auto;
  margin-right: auto;
    width: 20%;
    height: auto;
}

.img_container img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 320px) {

   body { 
      font-size: 2em; 
   }

}
#trafficinfo{
  text-align: left;
  padding-left: 50px;
}
.fa-facebook {
  padding: 0px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color:#4267B2;
}
.myopia{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"
}
.ok{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"
}
.cata{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"
}
.floaters{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"

}
.glaucoma{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"
}
.presbyopia{
  text-align: left; 
  padding-right: 10%; 
  padding-left: 10%;"
}